
.navbar{
  height: 100px;
  line-height: 100px;
  margin-bottom: 0;
  background-color: white;
}
.navbar img{
  width: 60%;
  height: auto;
}
.navbar ul{
  list-style: none;
  display: inline;
  float: right;
}
.navbar ul li{
  display: inline-block;
  margin-left: 10px;
}
.navbar ul li a{
  color: #2a347a;
}
.navbar .btn{
  color: #0c6cb0;
  background-color: white;
  border-color: #0c6cb0;
}
.navbar .burger{
  text-align: right;
}
#top{
  background-color: lightblue;
  color: white;
  border: none;
  margin-top: 10px;
}
#bottom{
  background-color: white;
  color: black;
  border: none;
  box-shadow: 2px 2px lightgrey;
  margin-top: 20px;
}
.box p{
  font-size: 1.5rem;
  margin-top: 20px;

}
.left p{
  font-size: 1.5rem;
}
.jumbotron h3{
  margin-bottom: 20px;
  font-size: 3.5rem;
}
#s1{
  line-height: 50px;;
}
#s1 p{
  font-weight: bold;
  color: grey;
}
#s2 h3{
  color: #2a347a;
}
#s2 p, #s4 p{
  color: grey;
}
#s2 li{
  border-left: 2px solid grey;
  padding-left: 5px;
  padding-top: 10px;
  color: grey;
}
#s2 h4, #s4 h4{
  color: #2a347a;
  font-weight: bold;
}
#s3{
  background-color: lightgrey;
}
#s3 .up{
  color: grey;
  margin-top: 30px;
}
#s3 h3{
  color:  #2a347a;
  line-height: 100px;
}
#s3 .slider{
  margin-top: 100px;
}
#s3 .down{
  color:  #2a347a;
}
#s3 img{
  width: 100%;
}
.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid blue;
  display: inline-block;
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.dot:hover{
  cursor: pointer;
}
#first{
  color: blue;
  background-color: blue;
}
#s4 h3{
  color:  #2a347a;
  font-weight: bold;
}
#s5 h3{
  color: white;
  font-weight: bold;
}
#s5{
  background-color: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,72,197,1) 100%);
}
#s5 p, #s5 a{
  display: inline-block;
  color: white;
}
#s5 a{
  float: right;
}

#s5 .elenco{
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
}
#s5 .center{
  margin-left: 40px;
}
#s6 h3{
  color: #2a347a;
  font-weight: bold;
}
.h-100{
  height: 100px;
}
.h-400{
  height: 400px;
}
.h-200{
  height: 200px;
}
.h-300{
  height: 300px;
}
.jumbotron{
  border: 1px solid green;
  background-image: url("../img/sfondo.svg");
}
.left{
  color: white;

}
.box{
  background-color: white;
}
.box{
  border: 1px solid pink;
}
.blue{
  color: blue;
}
.term{
  color: blue;
  text-decoration: underline;
}
#s2 ul{
  list-style: none;
}
[class*="box-"]{
  border: 1px solid orange;
}
.frecce{
  height: 100%;
  align-items: center;
}
.slider{
  width: 40%;
  border: 1px solid black;
  margin: auto;
}
.dati .btn{
  text-align: center;
  width: 100%;
}
#s7{
  color: white;
  background: linear-gradient(to top, #26309e, #2531b8, #416bcc);
}
#footer{
  background-color: #1f2670;
}
#footer p, #footer a{
  color: lightgrey;
}
#footer h4{
  color: white;
  font-weight: bold;
}
#footer ul{
  list-style: none;
  padding: 0;
}
#footer li{
  margin-top: 5px;
}
#footer i{
  color: lightgrey;
  margin-right: 10px;
}
a:hover{
  cursor: pointer;
}
#footer .push{
  margin-top: 40px;
}
